.yinyin {
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-right-style: inset;
	border-bottom-style: inset;
	border-right-color: #66CC33;
	border-bottom-color: #66CC33;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #99CC00;
}
.text {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
}
